*.opensdf
*.sdf
ArchiLogic_JeuTDD.sln
*.suo
*.suo
ArchiLogic_JeuTDD/ArchiLogic_JeuTDD.vcxproj
*.filters
ArchiLogic_JeuTDD/Debug/ArchiLogic_JeuTDD.lastbuildstate
*.log
*.vcxproj
Dames_lib/Dames_lib.vcxproj.user
*.tlog
*.obj
Dames_lib/Debug/Dames_lib.lastbuildstate
*.pch
Dames_lib/Debug/vc110.idb
*.pdb
*.user
Dames_TDD/Debug/Dames_TDD.lastbuildstate
*.idb
*.exe
*.dll
*.ilk
*.ipch
Jeu_lib/Debug/Jeu_lib.lastbuildstate
*.lastbuildstate
*.ldf
TestResults/ArchiLogic_JeuTDD.TE.Tests.mdf
*.cache
Debug/Dames_lib.lib
Debug/Jeu_lib.lib
Debug/Morpion_lib.lib
Debug/UnitTest_Jeu.lib
Debug/UnitTest_Jeu.exp
Jeu_lib/Debug/Jeu_lib.res